

.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    color: white;
    font-size: 150px;
}

#clock{
    margin-top: 230px;

}

body{
    background-image: url(https://i.pinimg.com/originals/ef/e4/91/efe4911c1514bd6da486c87cab240f60.gif);
    /* background-size: cover; */
    /* background-color: black; */
    background-size: cover;
    background-repeat: no-repeat;
}

.timer{
    height: 100px;
    width: 200px;
    /* background-color: blue; */
    border: 5px solid;
}

.row{
    width: 80vh;
    height: 80vh;
    border: 2px solid;
    background-image: url(https://i.gifer.com/VPTe.gif);
    background-size: cover;
    background-repeat: no-repeat;
    border-style: double;
    box-shadow: 20px 12px 18px 15px white;
    margin-left: 480px;
    margin-top: 80px;
    border-radius: 50%;
}


