

.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    color: white;
    font-size:130px;
    position: relative;
}

#clock{
   
    margin-top: 220px;
    height: 90px;
    width:512px;
    background-color: rgba(0, 0, 0, 0.619);
    border-radius: 10px;
    position: relative;
    
}

body{
    
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
    
}

.orenge{
    height: 95vh;
    width: 95vh;
    background-image: url(https://thumbs.gfycat.com/ArcticEnergeticHuemul-size_restricted.gif);
    border-radius: 50%;
    margin-left: 400px;
    box-shadow: 10px 12px 12px 15px rgb(177, 50, 4);
}

.main{
   
    width: 70vh;
    height: 70vh;
    position: fixed;
    background-image: url(https://thumbs.gfycat.com/CookedPepperyHorseshoecrab.webp);
    background-size: cover;
    background-repeat: no-repeat;
    
    box-shadow: 10px 12px 12px 15px rgb(177, 50, 4);
    margin-left: 80px;
    margin-top: 85px;
    border-radius: 50%;    
    border: 5px solid;
    /* margin-right: 300px; */
}



